<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="main.java.wufan.springIOC4"></context:component-scan>
    <bean id="accountService" class="main.java.wufan.springIOC4.Dao.Impl.UserDaoImpl" >
        <constructor-arg index="0" value="锵锵锵"></constructor-arg>
        <constructor-arg name="sex" value="男"></constructor-arg>
        <constructor-arg type="java.util.Date" ref="now"></constructor-arg>
        <constructor-arg name="age" value="12"></constructor-arg>
    </bean>

    <bean id="now" class="java.util.Date"></bean>


    <bean id="userDao" class="main.java.wufan.springIOC4.Dao.Impl.UserDaoImpl"></bean>

    <bean id="userDaoSetImpl" class="main.java.wufan.springIOC4.Dao.Impl.UserDaoSetImpl">
        <property name="age" value="1"></property>
        <property name="namea" value="sss试试"></property>
    </bean>


    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath*:SpringIOC4application.properties</value>
            </list>
        </property>
    </bean>

</beans>